/*
 * Device Tree overlay for rpi-display by Watterott
 *
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&spi1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&spidev0>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@3 {
		target = <&spidev1>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@4 {
		target = <&gpio>;
		__overlay__ {
			rpi_display_pins: rpi_display_pins {
				brcm,pins = <18 24 25 26>; /* led rst dc  irq */
				brcm,function = <1 1 1 0>; /* out out out in  */
				brcm,pull = <0 0 0 2>; /* - - - up */
			};
		};
	};

	fragment@5 {
		target = <&spi0>;
		__overlay__ {
			/* needed to avoid dtc warning */
			#address-cells = <1>;
			#size-cells = <0>;

			rpidisplay: rpi-display@0{
				compatible = "ilitek,ili9341";
				reg = <0>;
				pinctrl-names = "default";
				pinctrl-0 = <&rpi_display_pins>;

				spi-max-frequency = <32000000>;
				rotate = <90>;
				bgr;
				fps = <30>;
				buswidth = <8>;
				reset-gpios = <&gpio 24 1>;
				dc-gpios = <&gpio 25 0>;
				led-gpios = <&gpio 18 1>;
				debug = <0>;
			};
		};
	};
	fragment@6 {
		target = <&spi1>;
		__overlay__ {
			/* needed to avoid dtc warning */
			#address-cells = <1>;
			#size-cells = <0>;
			cs-gpios = <&gpio 16 1>;

			rpidisplay_ts: rpi-display-ts@0 {
				compatible = "ti,ads7846";
				reg = <0>;

				spi-max-frequency = <2000000>;
				interrupts = <26 2>; /* high-to-low edge triggered */
				interrupt-parent = <&gpio>;
				pendown-gpio = <&gpio 26 1>;
				ti,x-plate-ohms = /bits/ 16 <60>;
				ti,pressure-max = /bits/ 16 <255>;
			};
		};
	};
	__overrides__ {
		speed =     <&rpidisplay>,"spi-max-frequency:0";
		rotate =    <&rpidisplay>,"rotate:0";
		fps =       <&rpidisplay>,"fps:0";
		debug =     <&rpidisplay>,"debug:0";
		xohms =     <&rpidisplay_ts>,"ti,x-plate-ohms;0";
		swapxy =    <&rpidisplay_ts>,"ti,swap-xy?";
		backlight = <&rpidisplay>,"led-gpios:4",
		            <&rpi_display_pins>,"brcm,pins:0";
	};
};
